@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap');

@font-face {
  font-family: 'easyvhs';
  src: url(../fonts/easvhs.ttf);
}

@font-face {
  font-family: 'homevideo';
  src: url(../fonts/HomeVideo-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('../images/bg_cyber.mp4') no-repeat fixed;
  background-size: cover;
}

#background-video {
  position: fixed; /* Keep the video fixed in the background */
  top: 50%; /* Center the video */
  left: 50%; /* Center the video */
  min-width: 100%; /* Ensure it covers the entire viewport */
  min-height: 100%; /* Ensure it covers the entire viewport */
  width: auto; /* Maintain aspect ratio */
  height: auto; /* Maintain aspect ratio */
  z-index: -1; /* Position behind content */
  transform: translate(-50%, -50%); /* Centering */
  background-color: #0000005e;
}

.overlay {
  position: fixed; /* Cover the entire viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.534); /* Black with 50% opacity */
  z-index: 0; /* Positioned between video and content */
}

.logo-container {
  position: relative;
  padding: 0rem;
}

img.logo {
  width: 22rem;
  height: 22rem;
  display: block;
  margin: auto;
}

.container {
  position: absolute;
  left: 50%;
  top: 54%;
  transform: translate(-50%, -50%);
  width: 35rem;
  height: 35rem;
  background: #fff;
  text-align: center;
}

.container h1 {
  margin-top: 4rem;
  font-size: 3rem;
  font-family: 'homevideo', sans-serif;
}

form {
  padding-top: 2rem;
  width: 80%;
  margin: auto;
  opacity: 0;
  animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.175s 1 normal forwards;
}

form .input-container {
  position: relative;
  height: 4em;
  background: rgba(126,126,126,0.1);
  border: 2px solid rgba(126,126,126,0.1);
  margin-bottom: 16px;
  border-bottom-width: 1px;
}

form .input-value {
  float: right;
  box-sizing: border-box;
  display: inline-block;
}

form .input-value label, form .input-value input {
  padding: 1px 0.4em 1px 0.4em;
}

form .input-value + * {
  clear: both;
}

form .input-value {
  width: 100%;
}

form input {
  display: block;
  position: absolute;
  height: 2.4em;
  border: 0;
  background: none;
  z-index: 1;
  font-size: 1.6em;
  font-weight: bold;
  font-family: 'homevideo', sans-serif;
  letter-spacing: 0.012em;
  color: #333;
}

form input[type=text], form input[type=password] {
  width: 100%;
  padding-top: 1em;
}

form label {
  font-family: 'homevideo', sans-serif;
  font-weight: bold;
  display: block;
  position: absolute;
  margin-top: 2px;
  padding: 1px;
  color: #525252;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  font-size: 1.2em;
  animation-name: labelIn;
  animation-duration: 0.2s;
  animation-direction: reverse;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}

form input:focus + label, form input:valid + label {
  font-weight: bold;
  animation-name: labelOut;
  animation-duration: 0.2s;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}

.info-button {
  position: absolute;
  cursor: pointer;
  left: 5%;
  top: 88%;
}

.info-button :hover {
  background-color: #1e6cb4;
}

.info-button img {
  width: 26px; /* Set desired width */
  height: 26px; /* Set desired height */
}

@keyframes labelIn {
  0% {
    left: 1px;
    opacity: 1;
    top: 1.2em;
    font-size: 1em;
    padding-left: 1em;
  }
  50% {
    font-size: 1em;
    left: 1em;
    opacity: 0;
    top: 1.2em;
    padding-left: 1em;
  }
  50.01% {
    font-size: 0.85em;
    left: 1em;
    opacity: 0;
    top: 0.2em;
  }
  100% {
    font-size: 0.85em;
    opacity: 1;
    left: 1px;
    top: 0.2em;
  }
}

@keyframes labelOut {
  0% {
    left: 1px;
    opacity: 1;
    top: 1.2em;
    font-size: 1em;
    padding-left: 1em;
  }
  50% {
    font-size: 1em;
    left: 1em;
    opacity: 0;
    top: 1.2em;
    padding-left: 1em;
  }
  50.01% {
    font-size: 0.85em;
    left: 1em;
    opacity: 0;
    top: 0.2em;
  }
  100% {
    font-size: 0.85em;
    opacity: 1;
    left: 1px;
    top: 0.2em;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.fa-google {
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}


form .checkbox {
  position: relative;
  text-align: left;
  height: 2.4em;
}

form .checkbox label {
  text-transform: none;
  margin: -4px 20px;
}

.checkbox-color {
  filter: hue-rotate(145deg);
}

input[type=checkbox] {
  position: relative;
  top: 50%;
  transform: scale(2);
  font-size: 1em;
  height: auto;
  margin-left: 8px;
}

form .button {
  position: relative;
  margin-top: 2.5rem;
}

form .button .btn {
  width: 8rem;
  height: 4.5rem;
  border-radius: 15%;
  color: #e8e8e8;
  background: #1e6cb4;
  border: 0;
  font-size: 3rem;
  margin-top: 1rem;
}

form .button .btn:hover {
  background: #2b6c92;
  cursor: pointer;
}

form .bottom-links {
  position: relative;
  margin-top: 1rem;
  text-transform: uppercase;
}

form .bottom-links > p {
  font-family: 'homevideo', sans-serif;
  padding: 2px;
}

form .bottom-links a {
  text-decoration: none;
  color: #7a7a7a;
}

form .bottom-links a:hover {
  color: #000;
}

@media (max-width: 576px) {
  .container {
    width: 25rem;
    height: 35rem;
  }
  .container h1 {
    margin-top: 2rem !important;
  }
  form {
    padding-top: 1rem !important;
  }
  form .button {
    margin-top: 1.5rem !important;
  }
  form .bottom-links {
    margin-top: 1em !important;
  }

  img.logo {
    width: 22rem;
    height: 18rem;
    display: block;
    margin: auto;
  }

  .info-button {
    position: absolute;
    cursor: pointer;
    left: 45%;
    top: 90.5%;
  }
}

@media (max-width: 400px) {
  .container {
    width: 20rem;
    height: 33rem;
  }
  .container h1 {
    margin-top: 1rem !important;
  }

  img.logo {
    width: 22rem;
    height: 18rem;
    display: block;
    margin: auto;
  }

  .info-button {
    position: absolute;
    cursor: pointer;
    left: 45%;
    top: 90.5%;
  }
}

@media (max-width: 320px) {
  .container {
    width: 18rem;
    height: 30rem;
  }
  .container h1 {
    margin-top: 0.5rem !important;
  }
  form .button {
    margin-top: 0.5rem !important;
  }
  form .bottom-links {
    margin-top: 0 !important;
  }

  img.logo {
    width: 22rem;
    height: 18rem;
    display: block;
    margin: auto;
  }

  .info-button {
    position: absolute;
    cursor: pointer;
    left: 45%;
    top: 90.5%;
  }
}

*:focus {
  outline-color: #000;
}
